 @import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&family=Tilt+Neon&display=swap');

 * {
     margin: 0;
     padding: 0;
     border: none;
 }

 .container {
     background: #000000;
 }

 #welcome {
     text-align: center;
     font-size: 5vw;
 }

 /* this piece of code was cited on https: //redstapler.co/realistic-css-neon-text-effect-tutorial/*/

 h1 {
     font-family: 'tilt neon';
     color: #008000;
     text-shadow:
         .1vw 0vw .25vw #91fa7c,
         .2vw 0vw .25vw #aef592,
         .4vw 0vw .25vw #a8fc71,
         .1vw 0vw 0vw #77f053,
         .2vw 0vw 0vw #77f053,
         .4vw 0vw 0vw #77f053,
         .1vw 0vw .1vw #77f053,
         .2vw 0vw .1vw #77f053,
         .4vw 0vw .1vw #77f053,
         .1vw 0vw 2vw #77f053,
         .2vw 0vw 2vw #77f053,
         .4vw 0vw 2vw #77f053,

         .1vw 0vw 1vw #13e90b,
         .2vw 0vw 1vw #13e90b,
         .4vw 0vw 5vw #13e90b,
         .1vw 0vw 5vw #13e90b,
         .2vw 0vw 20vw #13e90b,
         .4vw 0vw 10vw #13e90b,
         .1vw 0vw 10vw #13e90b,
         .2vw 0vw 30vw #13e90b,
         .4vw 0vw 10vw #13e90b;

 }

 .intro {

     font-family: 'titl neon';
     color: #13e90b;
     font-size: 20px;
 }

 .categories {
     text-align: center;
 }

 .btn-topic {
     padding: 30px;
     font-size: 2rem;
     margin-inline: 0.8rem;
     background-color: #64adc5;
     display: inline-block;
     margin: 10px 20px;
     box-shadow: 5px 10px;
     border-radius: 50%;
 }

 .btn-topic:hover {
     background: rgb(243, 119, 237);
     box-shadow: none;
 }

 .btn-answer:hover {
     background: aqua;
     box-shadow: green;
     border-radius: 10%;

 }


 #game-area {
     text-align: center;

 }

 .question-area {
     padding: 1em;
     font-size: 2.5em;
     color: white;
     font-family: 'rum raisin';
     margin: 25px 50px;
     font-weight: 800;
     border: .2rem solid green;
     box-shadow: .1vw 0vw .25vw #91fa7c,
         .2vw 0vw .25vw #aef592,
         .4vw 0vw .25vw #a8fc71,
         .1vw 0vw 0vw #77f053,
         .2vw 0vw 0vw #77f053,
         .4vw 0vw 0vw #77f053,
         .1vw 0vw .1vw #77f053,
         .2vw 0vw .1vw #77f053,
         .4vw 0vw .1vw #77f053,
         .1vw 0vw 2vw #77f053,
         .2vw 0vw 2vw #77f053,
         .4vw 0vw 2vw #77f053,

         .1vw 0vw 1vw #13e90b,
         .2vw 0vw 1vw #13e90b,
         .4vw 0vw 5vw #13e90b,
         .1vw 0vw 5vw #13e90b,
         .2vw 0vw 20vw #13e90b,
         .4vw 0vw 10vw #13e90b,
         .1vw 0vw 10vw #13e90b,
         .2vw 0vw 30vw #13e90b,
         .4vw 0vw 10vw #13e90b;
 }

 .btn-answer {
     font-size: 1.80rem;
     margin-inline: 0.7rem;
     margin: 10px;
     background: #64adc5;
     padding: 8px;
     box-shadow: 5px 10px;
     border-radius: 10%;
 }



 /* this piece of code was taken from the love maths project*/
 .scores {
     display: inline-block;
     padding: 25px;

 }

 .score-area {
     text-align: center;

 }

 @media