 @import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&family=Tilt+Neon&display=swap');

 * {
     margin: 0;
     padding: 0;
     border: none;
 }

 .container {
     background-image: url(../images/background.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
     width: 100%;
     position: relative;
 }

 #cats {
     text-align: center;
     font-size: 5vw;

 }

 #game {
     display: none;
     position: absolute;
     top: 10%;
     text-align: center;
     width: 100%;

 }

 .finish {
     font-size: 5vw;
 }

 /* The text shading code was cited on Red Stapler*/
 h1 {
     font-family: 'tilt neon';
     text-align: center;
     color: #cf0be9;
     text-shadow:
         .1vw 0vw .25vw #e57cfa,
         .2vw 0vw .25vw #ea92f5,
         .4vw 0vw .25vw #e071fc,
         .1vw 0vw 0vw #f053f0,
         .2vw 0vw 0vw #f053f0,
         .4vw 0vw 0vw #f053f0,
         .1vw 0vw .1vw #f053f0,
         .2vw 0vw .1vw #f053f0,
         .4vw 0vw .1vw #f053f0,
         .1vw 0vw 2vw #f053f0,
         .2vw 0vw 2vw #f053f0,
         .4vw 0vw 2vw #f053f0,

         .1vw 0vw 1vw #cf0be9,
         .2vw 0vw 1vw #cf0be9,
         .4vw 0vw 5vw #cf0be9,
         .1vw 0vw 5vw #cf0be9,
         .2vw 0vw 20vw #cf0be9,
         .4vw 0vw 10vw #cf0be9,
         .1vw 0vw 10vw #cf0be9,
         .2vw 0vw 30vw #cf0be9,
         .4vw 0vw 10vw #cf0be9;

 }

 .intro {

     font-family: 'rum raisin';
     color: #e90bd7;
     font-size: 40px;
 }

 .categories {
     text-align: center;
 }



 .btn-topic {
     padding: 30px;
     font-size: 2rem;
     font-family: 'titl neon';
     color: whitesmoke;
     margin-inline: 0.8rem;
     background-color: #d13dcf80;
     display: inline-block;
     margin: 10px 20px;
     box-shadow: 5px 5px #64a2dd;
     border-radius: 50%;
 }

 .btn-topic:hover {
     background: #e35ae5;
     box-shadow: none;
 }

 .btn-answer:hover {
     background: #64a2dd;
     border-radius: 10%;

 }


 #game-area {
     text-align: center;

 }

 #game-over {
     text-align: center;
     position: absolute;
     top: 50%;
     width: 100%;
 }

 .over {
     font-family: 'rum raisin';
     color: #efefef;
     font-size: 45px;
     text-align: center;
     background-color: #6565a5bd;
     position: absolute;
     top: 25%;
     left: 20%;
     margin: auto;

 }


 .question-area {
     padding: 1em;
     font-size: 2.5em;
     color: white;
     font-family: 'rum raisin';
     margin: 25px 50px;
     font-weight: 800;
     background-color: #d13dcf80;
     border-radius: 40%;
     text-align: center;
 }



 .btn-answer {
     font-size: 1.80rem;
     margin-inline: 0.7rem;
     margin: 10px;
     background: #e35ae5;
     padding: 8px;
     box-shadow: 5px 10px;
     border-radius: 10%;
 }

 #answer-buttons {
     text-align: center;
 }



 /* this piece of code was taken from the love maths project*/
 .scores {
     display: inline-block;
     font-size: 1.80rem;
     margin-inline: 0.7rem;
     margin: 10px;
     padding: 8px;
     border-radius: 10%;
     background-color: #07336b;
     color: #e7aed8;
     font-family: 'Tilt Neon';

 }

 .score-area {
     display: inline-block;
     padding: 25px;


 }